<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:insert="${title}">Header</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <nav class="nav-bar">
    <ul>
      <li class>
        <a th:href="@{/main}">
          <img src="/images/dsLogo.png" alt="Logo" style="height: 80px;">
        </a>
      </li>
      <li><a th:href="@{/companyIntro}">회사소개</a></li>
      <li><a th:href="@{/rental}">임대상품</a></li>
      <li><a th:href="@{/quoteRequest}">설치사례</a></li>
    </ul>
  </nav>
</header>
