/* 브라우저 기본 스타일 초기화 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-container{
    display: flex;
    flex-direction: column;
}
.main-content{
    display: flex;
    flex-wrap: wrap;
}

 /*Gmarket Sans 폰트 설정*/
@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSansTTFBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSansTTFMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../fonts/GmarketSansTTFLight.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    src: url('../fonts/NotoSansKR-Light.ttf') format('truetype');*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    src: url('../fonts/NotoSansKR-Regular.ttf') format('truetype');*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    src: url('../fonts/NotoSansKR-Medium.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Noto Sans KR';*/
/*    src: url('../fonts/NotoSansKR-Bold.ttf') format('truetype');*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*}*/

 폰트 적용 예시
body {
    font-family: 'GmarketSans', sans-serif;
}

h1, h2, h3 {
    font-family: 'GmarketSans', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'GmarketSans', sans-serif;
    font-weight: normal;
}
/*body {*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*}*/

/*!* Light 스타일 (300) *!*/
/*.light-text {*/
/*    font-weight: 300;*/
/*}*/

/*!* Regular 스타일 (400) *!*/
/*.regular-text {*/
/*    font-weight: 400;*/
/*}*/

/*!* Medium 스타일 (500) *!*/
/*.medium-text {*/
/*    font-weight: 500;*/
/*}*/

/*!* Bold 스타일 (700) *!*/
/*.bold-text {*/
/*    font-weight: 700;*/
/*}*/


/* 카카오 맵 */
#map {
    width: 100%;
    height: 400px; /* 원하는 높이로 설정 */
}

/* -------------헤더-------------- */
header {
    position: fixed; /* 헤더를 고정 위치로 설정 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    padding: 10px 20px; /* 상하 padding을 줄여서 높이 조정 */
    transition: background-color 0.5s;
    height: 80px; /* 헤더의 높이 설정 */
    z-index: 1000; /* 다른 콘텐츠 위에 표시되도록 설정 */
}

/* 내비게이션 바 */
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
}

/* 내비게이션 링크 리스트 */
.nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* 리스트 항목 */
.nav-bar ul li {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    text-align: center;
}

/* 링크 스타일 */
.nav-bar ul li a {
    display: flex; /* flex를 사용하여 전체 링크가 클릭 가능하도록 설정 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size:20px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

/* 링크 호버 스타일 */
.nav-bar ul li a:hover {
    /*background-color: #007BFF; !* 전체 배경색 변경 *!*/
    color: #007BFF; /* 텍스트 색상 변경 */
    /*opacity: 100%; !* 불투명도 설정 *!*/
}

/* 로고 이미지 스타일 */
.nav-bar ul li img {
    height: 80px; /* 로고 이미지의 높이 설정 */
    display: block; /* block으로 설정하여 링크 영역과 일치하도록 설정 */
}

/* 로고 이미지에 호버 효과가 적용되지 않도록 설정 */
.nav-bar ul li img:hover {
    background-color: transparent; /* 호버 시 배경색 변경 없음 */
}

/* 전체 페이지를 flexbox로 설정 */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 80px; /* 헤더 높이만큼 상단 여백 추가 */
}

/* 콘텐츠가 페이지의 나머지 부분을 차지하도록 설정 */
.content {
    flex: 1;
}

/*-----메인-------*/
/* ---------------메인 슬라이더---------------------- */
/* 슬라이더 섹션 */
.slider-section {
    width: 100%;
    position: relative;
    margin-bottom: 50px; /* 아래 여백 조정 */
}

.slider-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    height: 600px; /* 슬라이더 높이 설정 */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* 슬라이드 전환 애니메이션 */
    width: 100%; /* 슬라이더의 너비를 100%로 설정 */
    height: 100%; /* 슬라이더 높이에 맞게 설정 */
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%; /* 슬라이더 높이에 맞게 설정 */
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 컨테이너에 맞게 조정 */
    vertical-align: middle;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.8); /* 글씨 색상 및 투명도 설정 */
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 설정 */
    border-radius: 5px;
}

/* 네비게이션 버튼 */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* 메인 - 임대상품 섹션 스타일 */
#mainRental .rentalH1 {
    margin-bottom: 25px;
    font-size: 32px;
    text-align: center;
}

.rental-section {
    padding: 100px 0;  /* 슬라이더와의 간격을 늘리기 위해 상단 패딩 증가 */
    background-color: #f4f4f4;
    display: flex; /* 플렉스박스 사용 */
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 가로 방향 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.rental-section .container {
    max-width: 1200px;
    margin: 0 auto;
    color: #333333;
}

.rental-section h2 {
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 20px;
}

/* 제품 컨테이너 */
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* 여러 줄로 배치 가능하게 함 */
    margin: 0 auto;
    max-width: 1200px; /* 컨테이너 최대 너비 설정 */
    gap: 20px; /* 제품 간의 간격 조정 */
}

/* 제품 아이템 */
.product-item {
    flex: 1 1 calc(33.333% - 20px); /* 3개의 제품이 일렬로 배치되도록 폭 설정 */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px; /* 제품 아이템 간의 세로 간격 조정 */
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.product-item a {
    text-decoration: none;
    color: inherit;
}

/* 오시는 길 섹션 */
.directions-section {
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.directions-section .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* 가운데 정렬 */
}

.section-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.directions-container {
    display: flex; /* 플렉스박스 사용 */
    justify-content: space-between; /* 가로 방향으로 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    gap: 20px; /* 요소 간의 간격 조정 */
    flex-wrap: wrap; /* 여러 줄로 배치 가능하게 함 */
}

.map-container {
    flex: 1; /* 지도 컨테이너가 더 넓어지도록 설정 */
    max-width: 100%;
}

.info-container {
    flex: 1; /* 정보 컨테이너가 좁아지도록 설정 */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    height: 400px; /* 지도와 같은 높이 설정 */
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    box-sizing: border-box; /* 패딩을 포함한 전체 크기 계산 */
    flex-direction: column; /* 수직 방향으로 배치 */
}

.info-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.info-container p {
    margin: 5px 0; /* 상하 여백 설정 */
    font-size: 16px;
    color: #666;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .directions-container {
        flex-direction: column; /* 세로 방향으로 배치 */
    }

    .map-container,
    .info-container {
        min-width: auto; /* 최소 너비 해제 */
    }
}

/* 푸터 */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.footer-nav .blue{
    color:#007BFF;
}

/* 푸터 내비게이션 스타일 */
.footer-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav ul li {
    margin: 5px 0;
}

.footer-nav ul li a {
    color: #007BFF;
    text-decoration: none;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

/* 렌탈 - 제품 목록 갤러리 */
/* 왼쪽 사이드 및 제품 갤러리 섹션 */
.contact-gallery-section {
    display: flex;
    gap: 20px; /* 사이드와 갤러리 간의 간격 조정 */
    padding: 20px;
    background-color: #f4f4f4;
}

/* 연락처 정보 스타일 */
.contact-info {
    flex: 1 1 30%; /* 기본 너비 설정 */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.contact-info h2 {
    margin-top: 10%;
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
    text-align: center;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* 제품 갤러리 컨테이너 스타일 */
.gallery-container {
    flex: 1 1 70%; /* 기본 너비 설정 */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.gallery-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

/* 갤러리 스타일 */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px); /* 3개의 제품이 한 줄에 배치되도록 설정 */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    position: relative;
    margin-bottom: 20px;
}

.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item-info {
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.3);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s;
}

.gallery-item-info h2 {
    margin: 0;
}


/*----------제품 상세 페이지-------------*/
/* 제품 상세 페이지 컨테이너 */
.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex:2;
    margin-right: 20px;
}
.product-info h1 {
    font-size: 40px;
    margin-bottom: 30%;
    /*text-align: center;*/
}
.product-info h2{
    font-size:30px;
    margin-bottom: 30px;
}
.product-list-section {
    margin-top: 100px;
}

/* 제품 이미지 */
.product-image {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.product-specs h2 {
    font-size: 30px;
    letter-spacing: 2px;

}
.product-specs h3{
     font-size:25px;
     margin-bottom: 40px;
     margin-top:30px;
     font-weight: normal;
}

.icon {
    width: 1em; /* 이미지의 너비를 글씨 크기와 동일하게 설정 */
    height: 1em; /* 높이도 글씨 크기와 동일하게 설정 */
    vertical-align: middle; /* 이미지가 텍스트의 중간에 정렬되도록 설정 */
    margin-right: 4px; /* 이미지와 텍스트 사이의 간격을 설정 */
}


.product-specs p {
    font-size: 20px;
}

/* 회사 소개 - */
.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.background {
    height: 300px;
}
.slide .ice {
    height: 30%;
    object-fit: cover; /* 이미지 비율 유지하면서 잘라내기 */
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

.sidebar ul li a:hover {
    color: #007BFF;
}

.content-area {
    flex-grow: 1;
    padding: 20px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}


/* 반응형 디자인 */
@media (max-width: 768px) {
    .gallery-item {
        flex-basis: calc(50% - 20px); /* 작은 화면에서는 2열로 배치 */
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%; /* 더 작은 화면에서는 1열로 배치 */
    }
}
