<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Gallery</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<main class="gallery-container">
    <h1>Equipments</h1>
    <div class="gallery">
        <div class="gallery-item">
            <img src="/images/ham.png" alt="Product 1">
            <div class="gallery-item-info">
                <h2>제품 1</h2>
                <p>제품 1</p>
                <p class="price">99만 베리</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/ham.png" alt="Product 2">
            <div class="gallery-item-info">
                <h2>제품 2</h2>
                <p>제품 2</p>
                <p class="price">10만 베리</p>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/ham.png" alt="Product 3">
            <div class="gallery-item-info">
                <h2>제품 3</h2>
                <p>제품 3</p>
                <p class="price">20만 베리</p>
            </div>
        </div>
        <!-- Add more gallery items here -->
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
